.hidden {
  display: none;
  width: 500px !important;
}

.jumbotron {
  color: rgba(94, 255, 0, 0.728);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: 50%;
  background-size: auto;

}

body {

  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(85deg, rgba(0, 0, 0, 1) 63%, rgb(63, 67, 64) 100%);
  border-radius: 10px;
  color: #949e99
}

h1 {
  text-shadow: 1px 1px 2px rgb(36, 36, 36);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

img {
  width: 300px !important;
  height: 350px !important;

}

.card {
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  box-shadow: 10px 10px 40px rgba(94, 255, 0, 0.407);
  height: 600px;
  border-radius: 2%;
  backdrop-filter: blur(14px);
  background-color: rgba(0, 254, 47, 0.2);
  padding: 5px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgba(94, 255, 0, 0.293);
  color: #949e99;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 2px;
  border-radius: 12%;
  font-size: 18px;
}